<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recommendation Not Found</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      html,
      body {
        height: 100%;
      }
      .vertical-center {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-6 mt-5 vertical-center">
          <h1 class="text-center mb-4">Recommendation Not Found</h1>
          <p class="lead text-center">
            Sorry, we couldn't find a recommendation that matches what you
            entered.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
