<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>The Recommendation Wizard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-6 mt-5 vertical-center">
          <h1 class="text-center mb-4">The Recommendation Wizard</h1>
          <form action="/" method="post">
            <div class="form-group">
              <label for="recommendationInput"
                >Enter your recommendation:</label
              >
              <input
                type="text"
                class="form-control"
                id="recommendationInput"
                name="recommendationInput"
                placeholder="Type your recommendation here..."
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
